@font-face {
  font-family: 'MapleMono'; /* 自定义字体的名称 */
  src: url('font/MapleMono-CN-Regular.ttf') format('truetype'); /* TTF字体文件的路径 */
}
#app {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* 新增布局样式 */
html, body {
  font-family:   
  MapleMono,
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
font-size: 15px;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}